<div class="tools-bar is-desktop">
    <section class="container">
        <div class="row">
            <div class="col-sm-4">
                <ul>
                    <li class="addthis_toolbox addthis_default_style addthis_32x32_style">
                        <a class="addthis_button_whatsapp">
                            <img src="/Custom/Asserts/Images/whatsapp.png" height="25" width="25" style="border-radius: 4px" border="0" alt="Share" />
                        </a>
                    </li>
                    <li class="addthis_toolbox addthis_default_style addthis_32x32_style">
                        <a class="addthis_button_facebook">
                            <img src="/Custom/Asserts/Images/facebook.png" height="25" width="25" style="border-radius: 4px" border="0" alt="Share" />
                        </a>
                    </li>
                    <li class="addthis_toolbox addthis_default_style addthis_32x32_style">
                        <a class="addthis_button_email">
                            <img src="/Custom/Asserts/Images/email2.png" height="25" width="25" style="border-radius: 4px" border="0" alt="Share" />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-8">
                <ul>
                    <li class="second">
                        <a href="@ViewBag.PrefixLanguage/make-appointment" title="@ViewBag.Resource.MakeAnEnquiryOrAppointment">
                            <img src="/Sitefinity/WebSiteTemplates/CpacTemplate/App_Themes/CpacTheme/Images/icon-pen2.png" alt="book" />@ViewBag.Resource.MakeAnEnquiryOrAppointment
                        </a>
                    </li>
                    <li class="last">
                        <a href="@ViewBag.PrefixLanguage/find-doctor" title="@ViewBag.Resource.FindADoctor">
                            <img src="/Sitefinity/WebSiteTemplates/CpacTemplate/App_Themes/CpacTheme/Images/icon-hear2.png" alt="book" />@ViewBag.Resource.FindADoctor
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>
