<ul>
    <li><a href='@ViewBag.PrefixLanguage/find-doctor'>
        <img class="lazy" data-original="/Sitefinity/WebSiteTemplates/CpacTemplate/App_Themes/CpacTheme/Images/icon-hear2-white.png" alt="@ViewBag.Resource.FindADoctor"/><span>@ViewBag.Resource.FindADoctor</span></a></li>
    <li><a href='@ViewBag.PrefixLanguage/make-appointment'>
        <img class="lazy" data-original="/Sitefinity/WebSiteTemplates/CpacTemplate/App_Themes/CpacTheme/Images/icon-pen2-white.png" alt="@ViewBag.Resource.MakeAnEnquiryOrAppointment"/><span>@ViewBag.Resource.MakeAnEnquiryOrAppointment</span></a></li>
</ul>
