@model SitefinityWebApp.Mvc.Models.DataModels.C3MSBookingSearchDatesView

@if (Model.OutputRows.Any())
{
    <div><label>@Html.Raw(Model.Resource.PreferredTourTimeslotSelectLabel)</label></div>
    <div id="selectTimeslotList" class="rel">
        <div class="list-6 radioWrap" id="ddl_PrefTourTimeSlots">
            @{
                int countDisplay = 0;
                foreach (var item in Model.OutputRows)
                {
                    string btnID = "rad_PrefTourTimeslot_" + (countDisplay+1).ToString();
                    if (countDisplay > 0)
                    {
                        @Html.Raw("&nbsp;&nbsp;");
                    }

                    <label>@Html.RadioButton("PrefTourTimeSlots", item.SubmitString, false, new { @id = btnID, @class = "enquiryType", required = "required", textreturn = item.SubmitString }) @Html.Raw(item.TimeslotText)</label>

                    countDisplay++;
                }
            }
        </div>  
        <span class="k-invalid-msg" data-for="PrefTourTimeSlots" data-valmsg-for="PrefTourTimeSlots"></span>
    </div>
}
else
{
    string noFound = Model.Resource.Validator_MaternityBooking_NoTimeslots;

    <div class="rel">
        <p style="display: inline-block; word-break: break-word; white-space: normal;">@Html.Raw(string.Format(noFound, Model.CalendarDate.ToString(Model.DateFormat), Model.TimeslotString))</p>
    </div>
}