@using System.Web.Optimization
@using Parkway.Core.Utilities

<h1 class="title">@Html.Raw(ViewBag.Resource.SharedArticlesLabel)</h1>
<div class="form-group">
    <a href="/share-new-article" title="@Html.Raw(ViewBag.Resource.SharedNewArticlesLabel)" class="btn btn-primary">@Html.Raw(ViewBag.Resource.SharedNewArticlesLabel)</a>
    <select class="form-control style-3" id="ddpFilter" onchange="ChangeRating();" name="">
        <option value="">@Html.Raw(ViewBag.ResourceCommon.FilterbycategoryLabel)</option>
        @foreach (var item in ViewBag.SharedArticalsCategories)
        {
            <option value="@item.Id">@item.Title</option>
        }
    </select>
    <select class="form-control style-3" id="ddpSort" onchange="ChangeRating();" name="">
        <option value="0">@Html.Raw(ViewBag.ResourceCommon.SortbyLabel)</option>
        <option value="1">@Html.Raw(ViewBag.ResourceCommon.DateLatestToOldestLabel)</option>
        <option value="2">@Html.Raw(ViewBag.ResourceCommon.DateOldestToLatestLabel)</option>
        <option value="3">@Html.Raw(ViewBag.ResourceCommon.RatingHighestToLowestLabel)</option>
        <option value="4">@Html.Raw(ViewBag.ResourceCommon.RatingLowestToHighestLabel)</option>
        <option value="5">@Html.Raw(ViewBag.ResourceCommon.AlphabeticalAToZLabel)</option>
        <option value="6">@Html.Raw(ViewBag.ResourceCommon.AlphabeticalZToALabel)</option>
    </select>
</div>
<div class="row">
    <span id="AreaRelatedMessage" class="col-md-12" style="display: none;">@Html.Raw(ViewBag.Resource.ShareArticleMessage)
    </span>
    <div class="col-md-12" id="listarticle">
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="paging" style="display: none">
                <li id="page-first"><a href="#" title="@Html.Raw(ViewBag.ResourceCommon.PagingFirstLabel)">|&lt;&lt;</a></li>
                <li id="page-previous"><a href="#" title="&lt; @Html.Raw(ViewBag.ResourceCommon.PagingPreviousLabel)">&lt; @Html.Raw(ViewBag.ResourceCommon.PagingPreviousLabel)</a></li>
                <li id="page-next"><a href="#" title="@Html.Raw(ViewBag.ResourceCommon.PagingNextLabel) >">@Html.Raw(ViewBag.ResourceCommon.PagingNextLabel) &gt;</a></li>
                <li id="page-last"><a href="#" title="@Html.Raw(ViewBag.ResourceCommon.PagingLastLabel)">&gt;&gt;|</a></li>
            </ul>
        </div>
    </div>
</div>

<script id="articleItemList" type="text/x-jquery-tmpl">
    <article class="article">
        <div class="intro-article">
            <div class="clearfix">
                <div class="float-l">
                    <img src="${Photo}" alt="Avatar">
                </div>
                <div class="user" style="float:left;">
                    <h4>${DoctorName}<br>
                        <div class="specialties" artid="${ArticleId}" doctorid="${DoctorId}">
                        </div>
                    </h4>
                    <p>${PostedDate}</p>
                </div>
            </div>
            <p>${Comments}</p>
        </div>
        <div class="content-article">
            <div class="float-l">
                <a href="${ArticleUrl}" title="${ArticleTitle}" target="_blank">
                    <img src="${ArticleImage}" alt="${ArticleTitle}"></a>
            </div>
            <div class="context-article">
                <h3><a href="${ArticleUrl}" title="${ArticleTitle}" target="_blank">${ArticleTitle}</a></h3>
                <p>${ArticleShortContent}</p>
                <p><a href="${ArticleUrl}" title="${ArticleUrl}" target="_blank">${ArticleUrl}</a></p>
                <div class="clearfix">
                    <div class="rate" articleid="${ArticleId}">
                    </div>
                    <div class="number">(${NumberUserRating})</div>
                </div>
                <div class="shared">
                    <p>@Html.Raw(ViewBag.Resource.SharedArticlesLocationLabel)</p>
                    <ul class="listArticleShare" articleid="${ArticleId}">
                    </ul>
                </div>
            </div>
        </div>
    </article>
</script>

<script id="sharedUrl" type="text/x-jquery-tmpl">
    <li><a href="${UrlPage}" title="">${Title}</a><span>${Views} Views</span></li>
</script>
<script id="specialtiesList" type="text/x-jquery-tmpl">
    <span>${Title}</span><br />
</script>
@Scripts.Render("~/bundlescript/sharedarticleslist")

